*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f0f0f0; */
}

/* Center the login form */
#loginForm {
    margin: 0 auto;
    max-width: 400px; /* Adjust the width as needed */
    padding: 20px;
    background-color: rgb(42, 225, 238); /* Form background color */
    border-radius: 10px; /* Add rounded corners */
}

#formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f5f5;
    padding: 3em;
}

.login-container {
    height: auto;
    margin-top: 6em;
}

/* Style the login form fields */
#loginEmail, #loginPassword {
    margin: 10px 0;
}

#logoutAndNewTask {
    padding-bottom: 30px; 
    float:right; 
    padding-bottom: 10px;
}

#createUserForm {
    padding: 25px;
    background-color: rgb(42, 225, 238); /* Form background color */
}