
.login-container {
    height: auto;
    margin-top: 6em;
}

/* Style the login form fields */
#loginEmail, #loginPassword {
    /* margin: 10px 0; */
}

#logoutAndNewTask {
    padding-bottom: 30px; 
    /* float:right;  */
    padding-bottom: 10px;
}

#createUserForm {
    padding: 25px;
    background-color: rgb(42, 225, 238); /* Form background color */
}
